{%extends 'layout.html'%}

{%block title %}Nivrita - Story{%endblock%}

{%block body%}

<section id="MoreAboutMe">
    <h1 class="text-bright three-d-text font-bold text-center text-5xl">My Story</h1>
    <div class="text-white text-1xl font-bold md:mx-20 mx-10 mt-10">
        <img src="/static/img/CUET.png" alt="Nivrita CUET" class="md:float-right w-40 hidden md:block">
        <p>
            Once upon a digital landscape, there was a curious mind named Nivrita Podder. Nivrita hailed from the
            vibrant city of Chittagong, Bangladesh. He was a student, embarking on a journey through the fascinating
            world of technology and innovation. In the corridors of his university, Chittagong University of Engineering
            and Technology (CUET), Nivrita was known not only for his academic pursuits but also for his unwavering
            passion for all things tech.</p><br>
            <img src="/static/img/CUET.png" alt="Nivrita CUET" class="md:float-right w-40 md:hidden">

        <p>

            Nivrita's academic journey had just begun; he was in his first year of the Electrical and Electronic
            Engineering (EEE) program at CUET. But what set his apart was his insatiable curiosity and a deep-rooted
            enthusiasm for technology, robotics, cybersecurity, and artificial intelligence.
        </p><br>
        <img src="/static/img/Cyber-Security.png" alt="Nivrita Cyber-Security" class="md:float-left w-48">
        <p>
            In his quest for knowledge and skill mastery, Nivrita had taken it upon himself to explore the boundless
            world of online courses. These digital academies had become his virtual classrooms, and he had quite the
            impressive course list to his name. Among his accolades were the prestigious CS50 from Harvard and the
            advanced curriculum from Cybrary, including "Offensive Penetration Testing," "Evasion for Incident
            Handlers," "Post Exploitation Hacking," and "How to Use ExploitDB (BSWJ)." He had even earned the Cyber
            Security Foundation Professional Certificate (CSFPC) from Certiprof and dabbled in the art of Responsive Web
            Design from freeCodeCamp.</p><br>
        <img src="/static/img/pr0g2.jpeg" alt="Nivrita Cyber-Security" class="md:float-right w-48 rounded-lg">
        <p>
            But Nivrita was not content with merely completing online courses. No, he was a creator, a builder. He had
            embarked on a journey of practical application, a journey where lines of code became his brushstrokes, and
            algorithms his compositions. He had designed a Movie downloading website using Flask and tailored it with
            Tailwind CSS and SQLite, all while pursuing his passion for web development. A Laptop Assistant programmed
            with Python was his loyal sidekick, always ready to assist. his cybersecurity prowess shone through his
            automation projects, making the digital realm a safer place. He had even ventured into the world of finance,
            crafting a Home page for the Binance portfolio and crafting a platform with Flask for tracking Bangladeshi
            share market portfolios and setting price alerts. And not to forget, he had ventured into the financial
            realm, mastering Pine Script to craft a couple of trading strategies in TradingView.</p><br>
        <p>
            Programming languages were his playground, and Nivrita navigated them with grace. Python, C, JavaScript,
            HTML, Tailwind CSS, Bash, and Pine Script; he spoke these languages with fluency and used them to breathe
            life into his digital creations.</p><br>
        <p>
            Nivrita was not just proficient in the language of code; his linguistic skills were equally impressive.
            English, Hindi, Bangla - he spoke these languages with finesse, making his a formidable
        <p>
            As the digital world expanded its horizons, Nivrita was determined to seize every opportunity it presented.
            Armed with his knowledge, skills, and unyielding passion, he was ready to embark on a journey where
            technology was his canvas, and innovation his masterpiece. His story was still unfolding, with chapters yet
            to be written in lines of code and circuits of imagination.</p>
    </div>

</section>











{%endblock%}