{%extends 'layout.html'%}
{%block body%}

<button class="md:left-36 md:top-2/3 top-40 left-12  bg-bright rounded-lg py-1 px-2 btnShadow">
    <a href="/skills/0" class="text-white text-lg font-semibold ">Skills</a>
  </button>  
  <button class="md:left-36 md:top-2/3 top-40 left-12  bg-bright rounded-lg py-1 px-2 btnShadow">
    <a href="/cert/0" class="text-white text-lg font-semibold ">Certificates</a>
  </button>  
  <button class="md:left-36 md:top-2/3 top-40 left-12  bg-bright rounded-lg py-1 px-2 btnShadow">
    <a href="/book/0" class="text-white text-lg font-semibold ">books</a>
    </button>
{%endblock%}