{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}

<section class="slider">
    <p class="text-[#00aaff] text-5xl mt-20 absolute -top-20 left-[38%] z-[10000] text-center" data-aos="fade-right"
        data-aos-delay="300" data-aos-duration="1000">Stellar Insights</p>
    <p class="text-[#00aaff] text-5xl mt-20 absolute -top-20 left-[38%] z-[10000] text-center" data-aos="fade-right"
        data-aos-delay="300" data-aos-duration="1000">Stellar Insights</p>
    <!-- list Items -->
    <div class="list">
        <div class="item active">
            <img src="/static/img/keplar.jpg">
            <div class="content">
                <p>Mission</p>
                <h2>Kepler</h2>
                <p>

                    After nine years in deep space, NASA's Kepler telescope, which discovered over 2,600 exoplanets, ran
                    out of
                    fuel in 2018 and was retired in a safe orbit. Its legacy reveals a sky filled with billions of
                    hidden planets,
                    many potential havens for life.
                </p>
                <div class="flex space-x-3">
                    <button onclick="showModal2()" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000"
                        class="bg-bright text-white text-sm font-semibold  rounded-lg py-1 px-2 btnShadow mt-20">Mission
                        Insights
                    </button>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/hubble.jpg">
            <div class="content">
                <p>Project</p>
                <h2 class="text-l">Hubble
                </h2>
                <p>

                    Hubble's powerful optics have captured stunning cosmic images and directly imaged exoplanets,
                    including
                    Fomalhaut b. Astronomers still analyze its photos for previously undetected exoplanets.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/spitzer0.jpeg">
            <div class="content">
                <p>Mission</p>
                <h2>Spitzer
                </h2>
                <p>
                    Spitzer, designed for infrared observation, revolutionized exoplanet study by being the first to
                    directly
                    detect exoplanet light, revealing their composition, temperature, and wind patterns.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/roman.jpeg">
            <div class="content">
                <p>Mission</p>
                <h2>Roman</h2>
                <p>
                    The Nance Grace Roman Space Telescope (formerly known as WFIRST) is a NASA observatory designed to
                    settle
                    essential questions in the areas of dark energy, exoplanets and infrared astrophysics.

                </p>
            </div>
        </div>
        <div class="item">
            <img src="/static/img/tess.jpeg">
            <div class="content">
                <p>Mission</p>
                <h2>TESS </h2>
                <p>
                    The Transiting Exoplanet Survey Satellite (TESS) is searching for the most promising exoplanet
                    targets for
                    next-generation studies.
                </p>
            </div>
        </div>
    </div>
    <!-- button arrows -->
    <div class="arrows">
        <button id="prev">
            < </button>
                <button id="next">></button>
    </div>
    <!-- thumbnail -->
    <div class="thumbnail -bottom-12">
        <div data-aos="fade-right" data-aos-delay="800" data-aos-duration="1000" class="item active">
            <img src="/static/img/keplar.jpg">
            <div class="content">
                Kepler
            </div>
        </div>
        <div data-aos="fade-right" data-aos-delay="1200" data-aos-duration="1000" class="item">
            <img src="/static/img/hubble.jpeg">
            <div class="content">
                Hubble
            </div>
        </div>
        <div data-aos="fade-right" data-aos-delay="1600" data-aos-duration="1000" class="item">
            <img src="/static/img/spitzer0.jpeg">
            <div class="content">
                Spitzer
            </div>
        </div>
        <div data-aos="fade-right" data-aos-delay="2000" data-aos-duration="1000" class="item">
            <img src="/static/img/roman.jpeg">
            <div class="content">
                Roman
            </div>
        </div>
        <div data-aos="fade-right" data-aos-delay="2400" data-aos-duration="1000" class="item">
            <img src="/static/img/tess.jpeg">
            <div class="content">
                TESS
            </div>
        </div>
    </div>
    <div id="modal2"
        class="absolute z-[19999999999999] inset-0 bg-[url('/static/img/hubble_big.jpeg')] bg-no-repeat bg-cover bg-center h-[80vh] w-[70%] flex items-center justify-center transition-transform duration-1000 rounded-xl my-auto ml-20 invisible scale-90">
        <div class="absolute bg-transparent p-6 rounded-lg top-1 right-2">
            <button onclick="hideModal2()" class="text-white text-5xl hover:text-gray-900">
                &times;
            </button>
        </div>
        <div class="absolute top-10">
            <h1 class="text-white text-5xl text-center">Hubble Space Telescope</h1>
        </div>
        <div class="max-w-[70%] absolute  p-4 right-auto top-28 bg-black bg-opacity-40 rounded-lg shadow-lg">
            <h2 class="text-white text-2xl font-bold mb-2">Fun Fact about Hubble</h2>
            <div class="text-white text-base">
                <div class="mb-4">
                    <h3 class="text-lg text-bright font-semibold">What is the Hubble Space Telescope?</h3>
                    <p>The Hubble Space Telescope is a powerful observatory orbiting Earth, capturing breathtaking
                        images
                        of the universe and helping us understand the cosmos. 🚀</p>
                </div>
                <div class="mb-4">
                    <h3 class="text-lg text-bright font-semibold">Why is Hubble Special?</h3>
                    <ul class="list-disc pl-5">
                        <li>It has captured the most detailed images of distant galaxies, stars, and planets.</li>
                        <li>Hubble has revolutionized our understanding of the universe's size, age, and structure.</li>
                        <li>It has contributed to groundbreaking discoveries, including the accelerating expansion of
                            the
                            universe.</li>
                    </ul>
                </div>
                <div>
                    <h3 class="text-lg font-semibold text-bright">Imagine This!</h3>
                    <p>Imagine peering into the depths of space and witnessing the birth of stars or the majestic beauty
                        of
                        distant galaxies, all through Hubble's lens. 🌌</p>
                </div>
            </div>
            <div class="mt-6 text-center">
                <a href="/hubble" class="text-bright text-xl underline hover:no-underline">Visit Hubble</a>
            </div>
        </div>
    </div>

</section>


<!-- Modal -->


<script>
    function showModal2() {
        const modal = document.getElementById('modal2');
        // modal.classList.remove('hidden');
        // modal.classList.add('flex');
        setTimeout(() => {
            modal.classList.remove('invisible', 'scale-90');
            modal.classList.add('visible', 'scale-100');
        }, 10);
    }

    function hideModal2() {
        const modal = document.getElementById('modal2');

        setTimeout(() => {
            modal.classList.remove('visible', 'scale-100');
            modal.classList.add('invisible', 'scale-90');
        }, 300);
    }

</script>

{% endblock %}